.review-item {
    border: 1px solid #95A0A7;
    border-radius: 8px;
    Width: 570px;
    /* Height: 107px; */
    margin-bottom: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.review-item img {
    height: 90px;
    width: 90px;
    border-radius: 8px;
    margin-right: 15px;
}

.review-info {
    flex-grow: 1;
}

.review-info h4,
p {
    margin: 8px;
}

.review-item button {
    /* height: 55px; */
    /* width: 55px; */
    padding: 15px 20px;
    border-radius: 50%;
    background: rgba(235, 87, 87, 0.3);
    color: #EB5757;
    font-size: 30px;
}